#Movie-Details-Section{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 3rem 7rem;

}
#Left-Sections{
    display: flex;
    flex-direction: column;
    width: 60%
}

#Staring-Section{
    background-color: #2C3E50;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}
.Staring-SectionTitle{
    
    display: flex;
    justify-content: start;
    align-items: center;
    color: white ;
    margin-bottom: 2rem;
}
#Star-Cards-Container{
    width: 60rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.Star-Cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/ba.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 12px;
    background-color: black;
    border-width: 3px;
    height: 9rem;
    width: 14rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}




#Reviews-Section{
    display: flex;
    flex-direction: column;
    background-color: #2C3E50;
    margin-top: 3rem;
    border-radius: 12px;
    margin-bottom: 4rem;
}

#Reviews-Title-Section{
    margin: 1rem 2rem;
    color: white;
    font-size: 1.25rem;
}
#Reviews-Cards-Section{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.CommenterName{
    color:white;
    font-weight: 600;
    font-size: 1.2rem;
}
.commentRate{
    background-color: #1E2935;
    border-color: black;
    border-radius: 12px;
    border-width: 3px;
    color: #999999;
    padding: 0.25rem 0.6rem;
}
.commentsGroup{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 1rem;
}
.comment{
    
    color: #999999;
    width:15rem;
height: 12rem;
font-size: 5rem;
display: flex;
flex-direction: column;
justify-content: space-around;
background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-size: 0.9rem;
    background-image: url("../assets/ba.jpg");
    border-radius: 8px;
    border-color: black;
    border-width: 3px;
    padding: 0.8rem 1rem;
    margin: 0.5rem;
}
#Button-Controls{
    margin-right: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: end;
}
.Next-Previous-Buttons{
border-radius: 50px;
border: none;
cursor: pointer;
background-color: #1E2935;
width: 2.5rem;
height: 2.5rem;
margin-left: 1rem;
transform: none;
transition: all 0.3s;
color: white;
}

.Next-Previous-Buttons:hover{
    transform: scale(1.2);
}
#Review-Submit{
    display: flex;
    padding: 0rem ; 
    justify-content: space-between;
    align-items: center;
   flex-wrap:wrap;
   margin: 2rem;
   width: 44rem;
}
#Add-Review-Button{
    height: 4rem;
    width: 10rem;
    border: none;
    border-radius: 12px;
    background-color: #1E2935;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 3rem;

}
#Review-Submit #Review-Text-Field{
    background-color: #ffffffc1;
    color: black;
    padding: 0.2rem 0.4rem;
    border-radius: 12px;
    width: 30rem;
    height: 5rem;
}
#right-part{
    display: flex;
    flex-direction: column;
    color: white;
    background-color:#2C3E50;;
    border-radius: 12px;
    align-items: start;
    padding: 1rem 2rem;
    width: 30%;
}
.released{
    display: flex;
    font-weight: 500;
    font-size: 1.1rem;
}
.released p{
    margin-left: 1rem;
}
.releaseProduction{
    margin-left: 2rem;
    color: #ffffffc1;
    margin-bottom: 1rem;
}
.rateofrightsection{
    margin-left: 2rem;
    color: #ffffffc1;
    margin-bottom: 1rem;
}
.directorName{
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 2rem;
}
.director{
    margin-left: 2rem;
    color: #ffffffc1;
    margin-bottom: 1rem;
}


@media (max-width:750px){
    #Review-Submit{
        width:15rem;
    }
    #Add-Review-Button{
        height: 4rem;
        width: 10rem;
        border: none;
        border-radius: 12px;
        background-color: #1E2935;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 3rem;
    
    }
    #Review-Submit #Review-Text-Field{
        background-color: #ffffffc1;
        color: black;
        padding: 0.2rem 0.4rem;
        border-radius: 12px;
        width: 30rem;
        height: 5rem;
    }
}